# ps2
audio/
ps2_iso_extracted/
ps2_archives_extracted/
ps2_converted/

# gc
ep2.exe
gc_iso_extracted/
gc_archives/
gc_archives_extracted/
gc_converted/

# xbox
xbox_iso_extracted/
xbox_archives_extracted/
xbox_converted/

__pycache__
tmpvag.vag
iso_dump_folder/*.iso
iso_extract/
temp/

*.csv

# macOS
*.DS_Store